<a href="https://colab.research.google.com/github/Gail529/Mental-health/blob/main/tweet_emotions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install afinn

Collecting afinn
  Downloading https://files.pythonhosted.org/packages/86/e5/ffbb7ee3cca21ac6d310ac01944fb163c20030b45bda25421d725d8a859a/afinn-0.1.tar.gz (52kB)
     |████████████████████████████████| 61kB 4.6MB/s
Building wheels for collected packages: afinn
  Building wheel for afinn (setup.py) ... done
  Created wheel for afinn: filename=afinn-0.1-cp37-none-any.whl size=53451 sha256=62c682ff00a6f4f558d4051031a3bd16b2b8a932511892bf401e75e89ab81a5b
  Stored in directory: /root/.cache/pip/wheels/b5/1c/de/428301f3333ca509dcf20ff358690eb23a1388fbcbbde008b2
Successfully built afinn
Installing collected packages: afinn
Successfully installed afinn-0.1

In [2]:
!pip install vaderSentiment

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/76/fc/310e16254683c1ed35eeb97386986d6c00bc29df17ce280aed64d55537e9/vaderSentiment-3.3.2-py2.py3-none-any.whl (125kB)
     |████████████████████████████████| 133kB 8.2MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [3]:
import pandas as pd 
import numpy as np
from tqdm import tqdm_notebook as tqdm 
from tqdm import trange
import nltk
nltk.download('punkt')
nltk.download('wordnet')
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [ ]:
emo_lex=pd.read_excel('/content/NRC-Emotion-Lexicon-v0.92-In105Languages-Nov2017Translations.xlsx') # emotion lexicon

In [ ]:
emo_lex.head(5)

  English (en)        Afrikaans (af) Albanian (sq)  ... Sadness Surprise Trust
0        aback  uit die veld geslaan         prapa  ...       0        0     0
1       abacus                abakus     numërator  ...       0        0     1
2      abandon               verlaat       braktis  ...       1        0     0
3    abandoned               verlate     braktisur  ...       1        0     0
4  abandonment             verlating     braktisje  ...       1        1     0

[5 rows x 115 columns]

In [ ]:
emolex_df=emo_lex[['English (en)','Positive','Negative','Anger','Anticipation','Disgust','Fear','Joy','Sadness','Surprise','Trust']]
emotions=emolex_df.columns.drop('English (en)')
emolex_df.rename(columns={'English (en)':'word'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
del data["neutrality"]

In [ ]:
tweets=pd.read_csv('/content/final_tweets.csv')

In [ ]:
emolex_df

              word  Positive  Negative  Anger  ...  Joy  Sadness  Surprise  Trust
0            aback         0         0      0  ...    0        0         0      0
1           abacus         0         0      0  ...    0        0         0      1
2          abandon         0         1      0  ...    0        1         0      0
3        abandoned         0         1      1  ...    0        1         0      0
4      abandonment         0         1      1  ...    0        1         1      0
...            ...       ...       ...    ...  ...  ...      ...       ...    ...
14177         zone         0         0      0  ...    0        0         0      0
14178          zoo         0         0      0  ...    0        0         0      0
14179   zoological         0         0      0  ...    0        0         0      0
14180      zoology         0         0      0  ...    0        0         0      0
14181         zoom         0         0      0  ...    0        0         0      0

[14182 rows x 11 columns]

In [ ]:
tweets

      Unnamed: 0  ...                                             tweets
0              0  ...  people can also take advantage of your phone a...
1              1  ...  christmas is a good time to start practicing g...
2              2  ...   driving in the midst of depression   mindwand...
3              3  ...  may the prince of peace give u all peace of ou...
4              4  ...  anyone else just pretending they  re ok  sadtw...
...          ...  ...                                                ...
1995        1995  ...  well look like i am more fucked up than i thou...
1996        1996  ...  iokparadiseinpain 42  last year  ms  rehman vi...
1997        1997  ...  don  t forget newly diagnosed depression  anxi...
1998        1998  ...  i think he wa diagnosed with depression and bi...
1999        1999  ...  also before someone try to go all  theres so m...

[2000 rows x 6 columns]

In [ ]:
del tweets['Unnamed: 0.1']
del tweets['Unnamed: 0']

In [ ]:
def tweet_emotion(tweet_df,col):
  new_tweet_df=tweet_df.copy()
  #new  dataframe that will store the emotion scores
  emo_df=pd.DataFrame(0,index=new_tweet_df.index, columns=emotions)
  lemmatizer=WordNetLemmatizer()

  
  with tqdm(total=len(list(new_tweet_df.iterrows()))) as pbar:
    for i ,row in new_tweet_df.iterrows(): 
        pbar.update(1) #update the progress bar
        tweet=word_tokenize(new_tweet_df.loc[i][col]) #the body of text for each individual tweet(row)

        for word in tweet:
            new=lemmatizer.lemmatize(word)#lemmatizing the words
            emo_score=emolex_df[emolex_df.word == new]     
            if not emo_score.empty:
                for emotion in list(emotions):
                    emo_df.at[i,emotion] += emo_score[emotion]


    new_tweet_df=pd.concat([new_tweet_df,emo_df] ,axis=1)
    return new_tweet_df

In [ ]:
# splitting dataframe by row index 
tweet_df_1 = tweets.iloc[:1000,:] 
tweet_df_1

In [ ]:
final_df=tweet_emotion(tweet_df_1,'tweets')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(FloatProgress(value=0.0, max=1000.0), HTML(value='')))

In [ ]:
final_df.describe()

          Positive     Negative  ...     Surprise        Trust
count  1000.000000  1000.000000  ...  1000.000000  1000.000000
mean      1.221000     0.935000  ...     0.252000     0.637000
std       1.225423     1.121621  ...     0.527991     0.849678
min       0.000000     0.000000  ...     0.000000     0.000000
25%       0.000000     0.000000  ...     0.000000     0.000000
50%       1.000000     1.000000  ...     0.000000     0.000000
75%       2.000000     1.000000  ...     0.000000     1.000000
max       8.000000     6.000000  ...     5.000000     6.000000

[8 rows x 10 columns]

In [ ]:
tweet_df_2 = tweets.iloc[1001:,:]

In [ ]:
final_df_2=tweet_emotion(tweet_df_2,'tweets')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(FloatProgress(value=0.0, max=999.0), HTML(value='')))

In [ ]:
final_df_2.describe()

         Positive    Negative       Anger  ...     Sadness    Surprise       Trust
count  999.000000  999.000000  999.000000  ...  999.000000  999.000000  999.000000
mean     0.587588    1.621622    0.496496  ...    1.286286    0.128128    0.391391
std      0.800855    1.134702    0.684598  ...    0.897627    0.365879    0.625098
min      0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%      0.000000    1.000000    0.000000  ...    1.000000    0.000000    0.000000
50%      0.000000    1.000000    0.000000  ...    1.000000    0.000000    0.000000
75%      1.000000    2.000000    1.000000  ...    2.000000    0.000000    1.000000
max      4.000000    7.000000    4.000000  ...    5.000000    2.000000    4.000000

[8 rows x 10 columns]

In [ ]:
tweet_emotions_df=final_df.append(final_df_2, ignore_index=True, sort=False)

In [ ]:
tweet_emotions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          1999 non-null   object
 1   location      1547 non-null   object
 2   text          1999 non-null   object
 3   tweets        1999 non-null   object
 4   Positive      1999 non-null   int64
 5   Negative      1999 non-null   int64
 6   Anger         1999 non-null   int64
 7   Anticipation  1999 non-null   int64
 8   Disgust       1999 non-null   int64
 9   Fear          1999 non-null   int64
 10  Joy           1999 non-null   int64
 11  Sadness       1999 non-null   int64
 12  Surprise      1999 non-null   int64
 13  Trust         1999 non-null   int64
dtypes: int64(10), object(4)
memory usage: 218.8+ KB

In [ ]:
tweet_emotions_df.to_csv('tweet_emotion_scores.csv')

In [4]:
data=pd.read_csv('/content/tweet_emotion_scores.csv')

In [5]:
data.head()

   Unnamed: 0            user  ... Surprise Trust
0           0    app_stayaway  ...        1     1
1           1         rykorua  ...        1     1
2           2       allevin18  ...        0     0
3           3  DulleyTopBooks  ...        0     2
4           4   sadvibes43ver  ...        0     0

[5 rows x 15 columns]

In [6]:
del data['Unnamed: 0']
del data['user']
del data['location']
del data['text']
data.head()

                                              tweets  Positive  ...  Surprise  Trust
0  people can also take advantage of your phone a...         2  ...         1      1
1  christmas is a good time to start practicing g...         3  ...         1      1
2   driving in the midst of depression   mindwand...         1  ...         0      0
3  may the prince of peace give u all peace of ou...         4  ...         0      2
4  anyone else just pretending they  re ok  sadtw...         0  ...         0      0

[5 rows x 11 columns]

In [7]:
tweets=data['tweets'].values
print(len(tweets))
from afinn import Afinn
afinn = Afinn(language='en')
data['afinn_score'] = data['tweets'].apply(afinn.score)
data['afinn_score'].describe()

1999

count    1999.000000
mean       -0.137569
std         3.195903
min       -14.000000
25%        -2.000000
50%         0.000000
75%         2.000000
max        15.000000
Name: afinn_score, dtype: float64

In [9]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer 
sia = SentimentIntensityAnalyzer() 

vader_negative=[]
vader_positive=[]
vader_neutral=[]

for tweet in tweets:  
    sentiment_dict = sia.polarity_scores(tweet)
    vader_negative.append(sentiment_dict['neg'])
    vader_positive.append(sentiment_dict['pos'])
    vader_neutral.append(sentiment_dict['neu'])

In [10]:
data['positive_vader']=vader_positive
data['negative_vader']=vader_negative
data['neutral_vader']=vader_neutral
data.head(2)

                                              tweets  ...  neutral_vader
0  people can also take advantage of your phone a...  ...          0.809
1  christmas is a good time to start practicing g...  ...          0.612

[2 rows x 15 columns]

In [25]:
import numpy as np 
# Original array 
array = np.arange(5) 
print(array) 

weights = np.arange(10, 15) 
print(weights) 

# Weighted average of the given array 
res1 = np.average(array, weights=weights) 
print(res1) 

np.dot(array,weights)

[0 1 2 3 4]
[10 11 12 13 14]
2.1666666666666665

130

In [32]:
from numpy import average

weight_list=[1,5,24.28,5.71,15,9.28,0.71,39.28,3.57,2.14,1,1,5,2.5]
weight_list= [float(item) for item in weight_list]


avg_emotions=[]
for s in range(len(tweets)):
    song=data.iloc[s,1:15].values
    final_val = np.dot(song,weight_list)
    avg_emotions.append(final_val)

data['emotion_score']=avg_emotions
data['emotion_score'].describe()

count    1999.000000
mean       74.006569
std        65.039035
min        -5.530000
25%        17.960000
50%        53.655000
75%       120.762500
max       425.308500
Name: emotion_score, dtype: float64

In [36]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled = scaler.fit_transform(data[['emotion_score']])
data['emotion_score']=scaled
data['emotion_score'].describe()

count    1999.000000
mean        0.184609
std         0.150959
min         0.000000
25%         0.054522
50%         0.137372
75%         0.293132
max         1.000000
Name: emotion_score, dtype: float64

In [45]:
emotion_scores=data['emotion_score'].values
emo_labels=[]
for x in range(len(emotion_scores)):
    score = emotion_scores[x]
    if score <= 0.2:
        label="1"
    elif score <= 0.4:
        label="2"
    elif score <= 0.6:
        label="3"
    elif score <= 0.8:
        label="4"
    else:
        label ="5"
    
    emo_labels.append(label)

data['labels']=emo_labels
data['labels'].describe()

count     1999
unique       5
top          1
freq      1231
Name: labels, dtype: object

In [46]:
data.head(2)

                                              tweets  ...  labels
0  people can also take advantage of your phone a...  ...       2
1  christmas is a good time to start practicing g...  ...       1

[2 rows x 17 columns]

In [47]:
data.to_csv('Mental_health.csv')