<a href="https://colab.research.google.com/github/Gail529/Mental-health/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd 
from tqdm import tqdm_notebook as tqdm 
from tqdm import trange
import nltk
nltk.download('punkt')
nltk.download('wordnet')
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [3]:
data=pd.read_excel('/content/DPL-EN_lrec2016.xlsx') #distributional polarity lexicon

In [10]:
data.head(20)

    word  negativity
0      !    0.223810
1      i    0.741824
2    the    0.270082
3    NaN    0.294649
4    you    0.140852
5     to    0.451124
6      a    0.313906
7    and    0.239210
8     rt    0.129684
9    lnk    0.006437
10    it    0.491987
11    is    0.461684
12    my    0.590883
13    of    0.274051
14   for    0.231479
15    me    0.732169
16    's    0.338513
17    in    0.550660
18    so    0.655076
19  that    0.404731

In [9]:
del data["neutrality"]

In [11]:
tweets=pd.read_csv('/content/final_tweets.csv')

In [12]:
tweets

      Unnamed: 0  ...                                             tweets
0              0  ...  people can also take advantage of your phone a...
1              1  ...  christmas is a good time to start practicing g...
2              2  ...   driving in the midst of depression   mindwand...
3              3  ...  may the prince of peace give u all peace of ou...
4              4  ...  anyone else just pretending they  re ok  sadtw...
...          ...  ...                                                ...
1995        1995  ...  well look like i am more fucked up than i thou...
1996        1996  ...  iokparadiseinpain 42  last year  ms  rehman vi...
1997        1997  ...  don  t forget newly diagnosed depression  anxi...
1998        1998  ...  i think he wa diagnosed with depression and bi...
1999        1999  ...  also before someone try to go all  theres so m...

[2000 rows x 6 columns]